html,body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,form,code,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img,a img{border:0;}
ul li{list-style:none;margin:0;padding:0;}
h1,h2,h5,h6{font-size:100%;font-weight:normal;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}